<div class="col-9 col-md-6 alert alert-secondary" role="alert">
    <InputText @bind-Value="@Description" type="text" />
    &nbsp;
    <button @onclick="@(() => AddTodo(Description))" disabled="@TodosState.Busy" class="btn btn-sm btn-success">
        @if (TodosState.Busy)
        {
            <i class="fas fa-cog fa-spin"></i>
        }
        else
        {
            <i class="fas fa-save"></i>
        }
    </button>
</div>

@code {
    [Parameter]
    public Action<string> AddTodo { get; set; } = default!;

    [Parameter]
    public TodosState TodosState { get; set; } = default!;

    public string Description { get; set; } = string.Empty;
}
