<div class="col-12 alert alert-secondary" role="alert">
    <button @onclick="@(() => SaveAction(Todo.Id, Todo.Description, false))" class="btn btn-sm btn-secondary"><i class="fas fa-check"></i></button>
    <button @onclick="@(() => DeleteAction(Todo.Id))" class="btn btn-sm btn-danger pull-right"><i class="fas fa-trash"></i></button>
    &nbsp;&nbsp;&nbsp;
    @Todo.Description
</div>

@code {
    [Parameter]
    public Action<string> DeleteAction { get; set; }

    [Parameter]
    public Action<string, string, bool> SaveAction { get; set; } = default!;

    [Parameter]
    public ITodo Todo { get; set; } = default!;
}
