<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestTypes" value="webapi,wcf" />
    <add key="Iterations" value="10" />
    <add key="WcfUri" value="" />
    <add key="WebApiFrameworkUri" value="" />
    <add key="DataFilesFolder" value="C:\\Users\\dvinson\\Documents\\GitHub\\StupidTodo\\service-compare-data" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>