@using StupidTodo.Domain
@page "/"
@inject MainViewModel mainViewModel

<h1>Stupid Todo Blazor</h1>
@if (mainViewModel.IsBusy)
{
    <i class="fa fa-gear fa-spin" style="position: absolute; top:30%; left:45%; font-size:100px"></i>
}
else
{
    <TodoAdder ViewModel=mainViewModel />
    @foreach (var todo in mainViewModel.Todos.Where(t => !t.Done))
    {
        <TodoItem SourceTodo=todo />
    }
    @if (mainViewModel.ShowingDone)
    {
        <hr />
        @foreach (var todo in mainViewModel.Todos.Where(t => t.Done))
        {
            <DoneItem ViewModel=mainViewModel Todo=todo />
        }
    }
}

@functions {
protected override async Task OnInitAsync()
{
    mainViewModel.ApplyStateChanged += StateHasChanged;
    await mainViewModel.GetTodosAsync();
}
}
