@using StupidTodo.Domain
@page "/"
@inject MainViewModel viewModel

<h1>Stupid Todo Blazor</h1>
@if (viewModel.IsBusy)
{
    <i class="fa fa-gear fa-spin" style="position: absolute; top:30%; left:45%; font-size:100px"></i>
}
else
{
    <TodoAdder ViewModel=viewModel />
    @foreach (var todo in viewModel.Todos.Where(t => !t.Done))
    {
        <TodoItem ViewModel=viewModel Todo=todo />
    }
    @if (viewModel.ShowingDone)
    {
        <hr />
        @foreach (var todo in viewModel.Todos.Where(t => t.Done))
        {
            <DoneItem ViewModel=viewModel Todo=todo />
        }
    }
}

@functions {
protected override async Task OnInitAsync()
{
    viewModel.ApplyStateChanged += StateHasChanged;
    await viewModel.GetTodosAsync();
}
}
