@using StupidTodo.Domain
@page "/"
@inject HttpClient Http

<h1>Stupid Todo Blazor</h1>
@if (todos == null)
{
    <i class="fa fa-circle-o-notch fa-spin" style="position: absolute; top:30%; left:45%; font-size:100px"></i>
}
else
{
    <ul>
        @foreach (var todo in todos)
        {
            <li>@todo.Description</li>
        }
    </ul>
}

@functions {
    Todo[] todos;

    protected override async Task OnInitAsync()
    {
        todos = await Http.GetJsonAsync<Todo[]>("api/todo");
    }
}
