@inherits FluxorComponent

@page "/"

<EditForm Model="State.Value">
    <ActionBar AddTodo="Add" TodosState="State.Value" />

    @foreach (var todo in TodoItems)
    {
        <TodoItem SaveAction="Save" TodosState="State.Value" Todo="todo" />
    }
    <hr />
    <button @onclick="@ToggleShowDone" class="btn btn-secondary">
        @if (State.Value.ShowingDone)
        {
            <i class="fas fa-angle-up"></i>
        }
        else
        {
            <i class="fas fa-angle-down"></i>
        }
        &nbsp;@State.Value.ShowDoneLabel
    </button>
    @if (State.Value.ShowingDone)
    {
        <hr />
        if (Dones.Any())
        {
            foreach (var todo in Dones)
            {
                <DoneItem SaveAction="Save" DeleteAction="Delete" Todo="todo" />
            }
        }
        else
        {
            <p>No completed todos</p>
        }
    }
</EditForm>

@code
{
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Dispatcher.Dispatch(new GetTodosAction());
        }
        return Task.CompletedTask;
    }
}
